!admin,If you need help  Type !help
!discord,https://discord.gg/hbSDeTR7w5
!gametime,$gametime
!servername,$serverport
!restartin,$timeleftrestart
!help,here is what you can do or say in game O for stat Y for commpus type !help1 for more
!help1,M for map 4 Num for minimap click N to mute sound cars in game at lvl you want !help2 for more
!help2,Z for chat globlel or local !joke = will give you jokes help3 for more
!help3,Translate !sendlang=en !receivelang=ru in Discord you will have more lang code